nav {
    width: 100%;
    height: 70px;
    background-color: dimgray;
    padding-top: 5px;
    box-sizing: border-box;
  }
  ul {
    display: flex;
  }
  li {
    list-style: none;
  }
  a {
    display: block;
    text-decoration: none;
    color: white;
    transition: background-color .5s;
    margin-right: 35px;
  }

  a:hover {
      color: dimgray;
      background-clip: padding-box;ã€€
      background-color: rgb(255,255,255);
  }
